# The Caddyfile is an easy way to configure your Caddy web server.
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.
#
# Refer to the Caddy docs for more information: https://caddyserver.com/docs/caddyfile
{
	admin :2019
	metrics
}

# --- HOMEPAGE ---
https://{$TS_DOMAIN}:6969 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:6969
}

# --- MEDIA SUITE ---

# 1. Jellyfin
https://{$TS_DOMAIN}:8096 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:8096
}

# 2. qBittorrent
https://{$TS_DOMAIN}:8080 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:8080
}

# --- COMMS SUITE ---

# 1. Snikket HTTPS
https://{$TS_DOMAIN} {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy https://127.0.0.1:5443 {
		header_up Host {host}
		header_up X-Forwarded-Port {server_port}

		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}

		transport http {
			tls_server_name {$TS_DOMAIN}
		}
	}
}

# 2. Snikket HTTP
http://{$TS_DOMAIN} {
	bind {$TS_IP}
	reverse_proxy 127.0.0.1:5080
}

# --- ENTE SUITE ---

# 1. Ente API (Museum)
https://{$TS_DOMAIN}:8443 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:8443
}

# 2. MinIO Storage (S3)
https://{$TS_DOMAIN}:3200 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:3200
}

# 3. Ente Web (Photos)
https://{$TS_DOMAIN}:3000 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:3000
}

# 4. Ente Web (Albums)
https://{$TS_DOMAIN}:3002 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:3002
}

# --- SERVARR SUITE ---

# 1. Seerr
https://{$TS_DOMAIN}:5055 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:5055
}

# 2. Aurral
https://{$TS_DOMAIN}:3131 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:3131
}

# 2. Prowlarr
https://{$TS_DOMAIN}:9696 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:9696
}

# 3. Lidarr
https://{$TS_DOMAIN}:8686 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:8686
}

# 4. Radarr
https://{$TS_DOMAIN}:7878 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:7878
}

# 5. Sonarr
https://{$TS_DOMAIN}:8989 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:8989
}

# 6. slskd
https://{$TS_DOMAIN}:5030 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:5030
}

# 7. Bazarr
https://{$TS_DOMAIN}:6767 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:6767
}

# 8. Flaresolverr
https://{$TS_DOMAIN}:8191 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:8191
}

# --- MONITORING SUITE ---

# 1. Grafana
https://{$TS_DOMAIN}:3003 {
	bind {$TS_IP}
	tls {$TS_CERT} {$TS_KEY}
	reverse_proxy 127.0.0.1:3003
}

# 2. Caddy
http://{$DOCKER_GW}:2019 {
	bind {$DOCKER_GW}
	metrics
}

# 3. Jellyfin
http://{$DOCKER_GW}:8097 {
	bind {$DOCKER_GW}
	reverse_proxy 127.0.0.1:8096
}

# 4. qBittorrent
:8081 {
	bind {$DOCKER_GW}
	reverse_proxy 127.0.0.1:8080 {
		header_up Host 127.0.0.1:8080
	}
}

# 5. Snikket
http://{$DOCKER_GW}:5280 {
	bind {$DOCKER_GW}
	reverse_proxy 127.0.0.1:5280 {
		header_up Host 127.0.0.1:5280
		header_up -X-Forwarded-For
	}
}
