[Unit]
Description=Servarr Stack
After=docker.service mnt-hdd1.mount
BindsTo=mnt-hdd1.mount

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/etc/servarr
ExecStart=/usr/bin/docker compose up -d
ExecStop=/usr/bin/docker compose stop

[Install]
WantedBy=multi-user.target mnt-hdd1.mount
